<div class="flex justify-center mt-8 h-screen">
    <div class="box-content h-3/5 w-1/2 p-10">
        <div class="flex justify-center text-3xl">
            Sign Up
        </div>
        <form class="signup-form">
            <div class="flex justify-center w-full pt-8">
                <div class="text-xl pt-4 w-3/4">
                    <p class="pb-2">Username:</p>
                    <input id="name-signup" class="name-signup p-1 border-2 border-black w-full">
                </div>
            </div>
            <div class="flex justify-center w-full pt-4">
                <div class="text-xl pt-4 w-3/4">
                    <p class="pb-2">Email:</p>
                    <input id="email-signup" class="email-signup p-1 border-2 border-black w-full">
                </div>
            </div>
            <div class="flex justify-center w-full pt-4">
                <div class="text-xl pt-4 w-3/4">
                    <p>Password:</p>
                    <input type="password" id="password-signup" class="password-signup w-full p-1 border-2 border-black">
                </div>
            </div>
            <div>
                <div class="flex justify-center text-base pt-2">
                    <a href="/login">
                    <p class="underline underline-offset-1">Already have an Account? Log in</p>
                </div>
            </div>
            <div class="flex justify-center pt-6 text-white text-lg">
                <button type="submit" class="rounded-full bg-lime-600 px-2 hover:bg-black">
                    Submit
                </button>
            </div>
        </form>
    </div>
</div>

<script src="/js/signup.js"></script>